replicaCount: 2
image:
  pullPolicy: IfNotPresent
  repository: harrisonmeister/warp-hub
  tag: "2026.01.01.38"

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: "warp-hub-test.harrisonmeister"
      paths: []
  tls: []

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# Default to ClusterIP for internal access only
service:
  type: ClusterIP
  port: 80
  targetPort: 8080

serviceAccount:
  create: true
  name:

podSecurityContext: {}

securityContext: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}